catrip/codebase/projects/deid/etc/wsdl/catrip-deid-1.0.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://ws.apache.org/axis2" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://deid.catrip.cabig.duke.edu/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.apache.org/axis2"><wsdl:types><xs:schema xmlns:ns="http://deid.catrip.cabig.duke.edu/xsd" targetNamespace="http://deid.catrip.cabig.duke.edu/xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
<xs:element name="deid">
<xs:complexType>
<xs:sequence>
<xs:element type="xs:string" name="phi" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="deidResponse">
<xs:complexType>
<xs:sequence>
<xs:element type="xs:string" name="return" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema></wsdl:types><wsdl:message name="deidMessage"><wsdl:part element="ns0:deid" name="part1" /></wsdl:message><wsdl:message name="deidResponse"><wsdl:part element="ns0:deidResponse" name="part1" /></wsdl:message><wsdl:portType name="catrip-deid-1.0PortType"><wsdl:operation name="deid"><wsdl:input message="axis2:deidMessage" /><wsdl:output message="axis2:deidResponse" /></wsdl:operation></wsdl:portType><wsdl:binding type="axis2:catrip-deid-1.0PortType" name="catrip-deid-1.0SOAP11Binding"><soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /><wsdl:operation name="deid"><soap:operation style="document" soapAction="urn:deid" /><wsdl:input><soap:body namespace="http://ws.apache.org/axis2" use="literal" /></wsdl:input><wsdl:output><soap:body namespace="http://ws.apache.org/axis2" use="literal" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:binding type="axis2:catrip-deid-1.0PortType" name="catrip-deid-1.0SOAP12Binding"><soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /><wsdl:operation name="deid"><soap12:operation style="document" soapAction="urn:deid" /><wsdl:input><soap12:body namespace="http://ws.apache.org/axis2" use="literal" /></wsdl:input><wsdl:output><soap12:body namespace="http://ws.apache.org/axis2" use="literal" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service name="catrip-deid-1.0"><wsdl:port binding="axis2:catrip-deid-1.0SOAP11Binding" name="catrip-deid-1.0SOAP11port0"><soap:address location="http://192.168.15.3:8080/axis2/services/catrip-deid-1.0" /></wsdl:port><wsdl:port binding="axis2:catrip-deid-1.0SOAP12Binding" name="catrip-deid-1.0SOAP12port0"><soap12:address location="http://192.168.15.3:8080/axis2/services/catrip-deid-1.0" /></wsdl:port></wsdl:service></wsdl:definitions>