catrip/codebase/projects/gui/conf/simplegui/simpleQueryInterface-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="inServicePathTreeType">
		<xs:sequence>
			<xs:element name="Association" type="subNodeType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="depth" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="foreignAssociationInboundTree">
		<xs:sequence>
			<xs:element name="foreignAssociationInboundPath" type="objectElementType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="linkNodeType">
		<xs:sequence>
			<xs:element name="Association" type="linkNodeType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="childCount" type="xs:string" use="optional"/>
		<xs:attribute name="className" type="xs:string" use="required"/>
		<xs:attribute name="roleName" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="objectElementType">
		<xs:sequence>
			<xs:element name="Association" type="linkNodeType"/>
		</xs:sequence>
		<xs:attribute name="className" type="xs:string" use="required"/>
		<xs:attribute name="refID" type="xs:string" use="required"/>
		<xs:attribute name="depth" type="xs:string" use="optional"/>
		<xs:attribute name="cdeName" type="xs:string" use="required"/>
		<xs:attribute name="displaybleAttributes" type="xs:string" use="required"/>
		<xs:attribute name="display" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="outboundpathType">
		<xs:sequence>
			<xs:element name="Association" type="linkNodeType"/>
		</xs:sequence>
		<xs:attribute name="depth" type="xs:string" use="optional"/>
		<xs:attribute name="cdeName" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="serviceType">
		<xs:sequence>
			<xs:element name="targets" type="targetsType"/>
			<xs:element name="foreignAssociationInboundTree" type="foreignAssociationInboundTree"/>
		</xs:sequence>
		<xs:attribute name="displayName" type="xs:string" use="required"/>
		<xs:attribute name="url" type="xs:string" use="required"/>
		<xs:attribute name="metadataXml" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="simpleGuiServices">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service" type="serviceType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="subNodeType">
		<xs:sequence>
			<xs:element name="Association" type="subNodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="childCount" type="xs:int" use="optional"/>
		<xs:attribute name="className" type="xs:string" use="required"/>
		<xs:attribute name="refID" type="xs:string" use="required"/>
		<xs:attribute name="roleName" type="xs:string" use="required"/>
		<xs:attribute name="displaybleAttributes" type="xs:string" use="optional"/>
		<xs:attribute name="display" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="targetElementType">
		<xs:sequence>
			<xs:element name="associatedObjectTree" type="inServicePathTreeType"/>
			<xs:element name="foreignAssociationOutboundPath" type="outboundpathType"/>
		</xs:sequence>
		<xs:attribute name="className" type="xs:string" use="required"/>
		<xs:attribute name="refID" type="xs:string" use="required"/>
		<xs:attribute name="displaybleAttributes" type="xs:string" use="required"/>
		<xs:attribute name="display" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="targetsType">
		<xs:sequence>
			<xs:element name="objectElement" type="targetElementType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
