codebase/projects/queryengine-2.0/schema/FederatedQueryProcessor/FederatedQueryResults.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://fqp.cagrid.nci.nih.gov/FederatedResults" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns3="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" xmlns:ns8="http://fqp.cagrid.nci.nih.gov/FederatedResults/types" xmlns:ns7="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns2="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" xmlns:ns5="http://fqp.cagrid.nci.nih.gov/FederatedQueryProcessor/types" xmlns:ns4="http://caGrid.caBIG/1.0/gov.nih.nci.cagrid.dcql" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="http://caGrid.caBIG/1.0/gov.nih.nci.cagrid.dcqlresult" xmlns:ns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" name="FederatedQueryResults" targetNamespace="http://fqp.cagrid.nci.nih.gov/FederatedResults">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="./WS-ResourceLifetime.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://fqp.cagrid.nci.nih.gov/FederatedResults" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" schemaLocation="./xsd/Data/1_gov.nih.nci.cagrid.CQLQuery.xsd" />
      <import namespace="http://fqp.cagrid.nci.nih.gov/FederatedResults/types" schemaLocation="./FederatedQueryResultsTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" schemaLocation="./xsd/Data/1_gov.nih.nci.cagrid.CQLResultSet.xsd" />
      <import namespace="http://fqp.cagrid.nci.nih.gov/FederatedQueryProcessor/types" schemaLocation="./FederatedQueryProcessorTypes.xsd" />
      <import namespace="http://caGrid.caBIG/1.0/gov.nih.nci.cagrid.dcql" schemaLocation="./Distributed_CQL_schema_2.0.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://caGrid.caBIG/1.0/gov.nih.nci.cagrid.dcqlresult" schemaLocation="./Distributed_CQL_Results_schema_2.0.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="..\wsrf\lifetime\WS-ResourceLifetime.xsd" />
      <element name="GetResultsRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetResultsResponse">
        <complexType>
          <sequence>
            <element ref="ns1:DCQLQueryResultsCollection" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="IsProcessingCompleteRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="IsProcessingCompleteResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="FederatedQueryResultsResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns0:CurrentTime" />
            <element ref="ns0:TerminationTime" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetResultsRequest">
    <part name="parameters" element="tns:GetResultsRequest" />
  </message>
  <message name="GetResultsResponse">
    <part name="parameters" element="tns:GetResultsResponse" />
  </message>
  <message name="IsProcessingCompleteRequest">
    <part name="parameters" element="tns:IsProcessingCompleteRequest" />
  </message>
  <message name="IsProcessingCompleteResponse">
    <part name="parameters" element="tns:IsProcessingCompleteResponse" />
  </message>
  <message name="ProcessingNotCompleteFaultFaultMessage">
    <part name="fault" element="ns8:ProcessingNotCompleteFault" />
  </message>
  <message name="FederatedQueryProcessingFaultFaultMessage">
    <part name="fault" element="ns5:FederatedQueryProcessingFault" />
  </message>
  <message name="InternalErrorFaultFaultMessage">
    <part name="fault" element="ns5:InternalErrorFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="FederatedQueryResultsPortType" wsrp:ResourceProperties="tns:FederatedQueryResultsResourceProperties">
    <operation name="getResults">
      <input message="tns:GetResultsRequest" wsa:Action="http://fqp.cagrid.nci.nih.gov/FederatedResults/GetResultsRequest" />
      <output message="tns:GetResultsResponse" wsa:Action="http://fqp.cagrid.nci.nih.gov/FederatedResults/GetResultsResponse" />
      <fault name="ProcessingNotCompleteFault" message="tns:ProcessingNotCompleteFaultFaultMessage" wsa:Action="http://fqp.cagrid.nci.nih.gov/FederatedResults/ProcessingNotCompleteFaultFaultMessage" />
      <fault name="FederatedQueryProcessingFault" message="tns:FederatedQueryProcessingFaultFaultMessage" wsa:Action="http://fqp.cagrid.nci.nih.gov/FederatedResults/FederatedQueryProcessingFaultFaultMessage" />
      <fault name="InternalErrorFault" message="tns:InternalErrorFaultFaultMessage" wsa:Action="http://fqp.cagrid.nci.nih.gov/FederatedResults/InternalErrorFaultFaultMessage" />
    </operation>
    <operation name="isProcessingComplete">
      <input message="tns:IsProcessingCompleteRequest" wsa:Action="http://fqp.cagrid.nci.nih.gov/FederatedResults/IsProcessingCompleteRequest" />
      <output message="tns:IsProcessingCompleteResponse" wsa:Action="http://fqp.cagrid.nci.nih.gov/FederatedResults/IsProcessingCompleteResponse" />
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="GetMultipleResourceProperties">
      <input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy" />
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse" />
      <wsdl:fault message="wsrlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime" />
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse" />
      <wsdl:fault message="wsrlw:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
      <wsdl:fault message="wsrlw:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault" />
    </wsdl:operation>
  </portType>
</definitions>

